[submodule "rtems"]
	path = libs/rtems
	url = https://github.com/thelunatic/rtems.git
	branch = master
[submodule "rtems-libbsd"]
	path = libs/rtems-libbsd
	url = https://github.com/thelunatic/rtems-libbsd.git
	branch = master
[submodule "rtems-source-builder"]
	path = tools/rtems-source-builder
	url = https://github.com/thelunatic/rtems-source-builder.git
	branch = master
[submodule "u-boot"]
	path = tools/u-boot
	url = git://git.denx.de/u-boot.git
	branch = master
[submodule "tools/rtems-source-builder"]
	path = tools/rtems-source-builder
	url = git://git.rtems.org/rtems-source-builder.git/
